.btn-sm{
	border-radius: 0;
}
.liked{
	background-color: rgb(51, 122, 183);
	color:white;
};
.btn:focus .liked{
	background-color: rgb(51, 122, 183);
	color:white;
};
 .btn:hover .liked{
	background-color: rgb(51, 122, 183);
	color:white;
};
.liked:hover{
	background-color: rgb(51, 122, 183);
	color:white;
};
.liked:focus{
	background-color: rgb(51, 122, 183);
	color:white;
};
.size_fix{
	padding-right: 20px;
};